.container {
    display: flex;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.navbar {
    position: relative;
    background-color: rgb(216, 216, 202);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.nav-item {
    margin-left: 10px;
    padding: 8px;
    height: 100%;
    line-height: 30px;
    text-decoration: none;
    font-size: 20px;
}

.nav-item a {
    text-decoration: none;
}

#Panel {
    background-color: aliceblue;
    font: bold 25px helvetica;
}


.card-Wrapper {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.card {
    width: 100%;
    color: black;
    justify-content: space-around;
    text-align: center;
}

.product-Wrapper {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.product {
    width: 200px;
    justify-content: space-around;
    align-items: center;
}

.product img {
    height: 200px;
    width: 200px;
}

footer {
    background-color: rgb(44, 44, 44);
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    flex-direction: column;
}

footer img {
    height: 20px;
    margin-top: 5px;
    margin-left: 5px;
}